.align-center { text-align: center; }

.front-page-container {
	text-align: center;
	margin: 4em 0;
}

.height-block { display: block; height: 30px; }

#faces {
	.face-column { width: 33%; display: inline-block; }
	#how_button_holder { text-align: center; }
}


.project-detail-page {
	.project-thumbnail-image { width: 40px; height: 40px; display: inline-block; margin-right: 10px; margin-top: 1em; }
}


.project-entry {
	background-color: #EEE;
	padding: 10px;
	box-sizing: border-box;
}